@use "color-size.scss" as cs;
@use "function.scss" as f;

@mixin card($color, $border-color, $font-size: 1rem) {
  color: $color;
  border: f.convert(1) solid $border-color;
  font-size: $font-size;
  margin: f.convert(8) auto;
}
%text {
  width: fit-content;
  color: cs.$color-tertiary;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include card(cs.$color-primary, cs.$color-primary);
  h1 {
    @extend %text;
    border-bottom: f.convert(1) solid cs.$color-secondary;
  }
  h2 {
    @extend %text;
    padding: f.convert(16);
    border: 1 solid cs.$color-primary;
  }
  section {
    display: flex;
    margin: 0 f.convert(16);
    article {
      &.first-art,
      &.third-art {
        @include card(cs.$color-secondary, cs.$color-tertiary);
      }
      &.second-art,
      &.fourth-art {
        @include card(cs.$color-primary, cs.$color-tertiary);
      }
      &.fifth-art {
        @include card(cs.$color-tertiary, cs.$color-secondary, f.convert(24));
        margin-bottom: f.convert(16);
        width: f.convert(1630);
      }
      p {
        text-align: center;
        padding: f.convert(8);
        font-size: f.convert(22)
      }
    }
  }
}
