@use "color-size.scss" as cs;
@use "function.scss" as f;



@mixin article-card($color, $border-color, $font-size: 1rem) {
    color: $color;
    border: f.convert(1) solid $border-color;
    font-size: $font-size;

}
div {
  border: f.$px-size solid cs.$color-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include article-card(cs.$color-primary, cs.$color-tertiary,);
  h1 {
    color: cs.$color-tertiary;
    border-bottom: f.convert(1) solid cs.$color-secondary;
  }
  section {
     display: flex;
     margin: $vw-size;
     margin-top: 0;
    article {
         @include article-card(cs.$color-primary, cs.$color-tertiary);
      p {
        text-align: center;
        padding: cs.$vw-size calc(1.5 - 1) cs.$vw-size f.convert(calc(1.5 - 1));
        font-size: f.convert(calc(1 + 19px));
      }
      &:nth-of-type(odd) {
          color: cs.$color-secondary;
      }
    }
        &:last-child article {
            @include article-card(cs.$color-tertiary, cs.$color-secondary, 24px);
            width: f.convert(calc(1.5 + 100vw - 90px));
        }
      }
    }